.footer {
    font-size: 12px;
    background-color: #252525; 
    padding: 4rem 2rem;
    color: #fff;
}

.footer h5{
    font-size: 15px;
    font-weight: 600;
}

.footer .nav-link {
    padding-left: 0;
    color: #fff;
    padding-bottom: 0;
}